.App {
  background-color: var(--main-page-background);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Inter;
  font-size: var(--text-size);
  color: #1F2937;
  overflow: auto;
}

.App-content {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: auto;
  justify-content: start;
  align-content: start;
  
  .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: fit-content;
    margin-left: 200px; /* Gap for side menu */
  }
}

.App-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-content: start;
  justify-content: space-between;
  height: fit-content;
  padding-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: var(--primary-background);
}

.App-side-menu {
  position: fixed; /* Fix the sidebar in place */
  top: 0;
  left: 0;
  margin-top: 65px; /* Set gap base on navbar */
  width: 200px; /* Set a fixed width */
  height: 100%; /* Full height of the viewport */
  background-color: var(--side-menu-background);
  opacity: var(--side-menu-transparency);
  color: var(--light-color-text);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: hidden; /* Enable scrolling if content overflows */
  z-index: 1000; /* Ensure it's above other elements */
}

.App-secondary-text {
  font-size: var(--secondary-text);
  color: var(--primary-text);
}

.App-light-text {
  color: var(--light-color-text);
}

.App-purple-text {
  color: var(--purple-color-text);
}

h1 {
  font-weight: 800;
  font-size: var(--text-h1);
  color: var(--h1);
}

h2 {
  font-weight: 600;
  font-size: var(--text-h2);
  color: var(--h2);
}

h3 {
  font-weight: bold;
  font-size: var(--text-h3);
  color: var(--h3);
}

.App-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--popup-background);
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .App-popup-content {
    display: flex;
    flex-direction: column;
    background-color: var(--hover-background);
    padding: 2rem;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
    gap: 20px;
    height: fit-content;
    justify-content: start;

    .App-popup-main-content {
      display: flex;
      flex-direction: column;
      gap: 15px;
      height: fit-content;

      .title {
        width: auto;
        height: fit-content;
        font-weight: bold;
      }

      .main-data {
        width: auto;
        height: fit-content;
      }

      .App-popup-content-icon {
        font-size: 20px;
        color: var(--primary-background);
      }
    }
  }

  .App-popup-prompt-content {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-background);
    padding: 2rem;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
    gap: 20px;
    height: fit-content;
    justify-content: start;

    .App-prompt-confirmation-title {
      font-size: var(--text-h2-m);
    }

    .App-prompt-confirmation-title-highlighted-text {
      font-size: var(--text-h2-m);
      color: var(--error);
      font-weight: bold;
    }
  }
}

.App-link {
  color: #61dafb;
}

/* Set input text field css */
input[type=text], 
input[type=email],
input[type=password]{
  background-color: white;
  border-style: outset;
  border-width: 2px;
  border-color: var(--purple-color-text);
  border-radius: 8px;
  width: 100%;
  height: 36.5px;
  padding-left: 5px;
  padding-right: 5px;
}

select {
  background-color: white;
  height: 36.5px;
  border-width: 2px;
  border-color: var(--purple-color-text);
  border-radius: 8px;
  width: 100%;
}

option {
  color: var(--side-menu-background);
}

option:checked {
  background-color: var(--primary-background);
  color: var(--light-color-text);
}

.icons {
  font-size: 30px;
  color: var(--side-menu-background);
}

/* Desktop Table Setup */
.App-desktop-responsive-table {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.App-desktop-table-row {
  display: flex;
  flex-direction: row;
  gap: 0px;
}

.App-header-icon-gap {
  min-width: 40px;
  max-width: 40px;
}

.App-desktop-table-icon {
  color: var(--primary-background);
  width: fit-content;
  font-size: 30px;
  padding: 5px;
  background-color: white;
  border-bottom-color: var(--primary-background);
  border-bottom-width: 1px;
  border-bottom-style: outset;
  height: auto;
}

.App-desktop-table-icon:hover {
  cursor: pointer;
  background-color: var(--primary-background);
  color: var(--light-color-text);
}

/* Mobile Table Setup */
.App-mobile-table-icon {
  color: var(--primary-background);
  width: fit-content;
  font-size: 30px;
  padding: 5px;
  height: auto;
  background-color: none;
  font-size: 30px;
  padding: 5px;
  border-radius: 10px;
}

.App-mobile-table-icon:hover {
  cursor: pointer;
  background-color: var(--primary-background);
  color: var(--light-color-text);
}


.App-mobile-responsive-table {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: fit-content;
  padding: 10px;
}

.App-mobile-responsive-table-card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: var(--primary-background);
  border-radius: 10px;
  gap: 5px;
  background-color: var(--light-color-text);
  height: fit-content;

  .App-mobile-responsive-table-card-title {
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: var(--primary-background);
    height: fit-content;
    align-items: center;
  }
  
  .App-mobile-responsive-table-card-data {
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 10px;

    .App-mobile-responsive-table-card-data-detail {
      display: flex;
      flex-direction: row;
      justify-content: start;
      gap: 10px;

      .App-mobile-responsive-table-card-data-title {
        width: 120px;
        font-weight: bold;
      }
    }
  }
}

.App-filter-search-component {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  height: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  gap: 10px;

  .App-filter-container {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .App-filter-title {
        color: var(--purple-color-text);
        font-weight: bold;
    }
  }
}

/* Desktop (1024px+) */
@media only screen and (min-width: 1024px) {
  .App-mobile-responsive-table {
    display: none;
  }
}

/* Tablet (769px-1023px) */
@media only screen and (min-width: 769px) and (max-width: 1023px) {
  .App-desktop-responsive-table {
    display: none;
  }

  .App-mobile-responsive-table-card {
    display: flex;
  }
}

/* Mobile (all screens below 768px) */
@media only screen and (max-width: 768px) {
  .App {
    font-size: var(--text-size-m);
  }

  .App-content .content {
    margin-left: 0px;
  }

  .App-secondary-text {
    font-size: var(--secondary-text-m);
  }

  .App-popup-content  {
    .App-popup-main-content {
      .App-popup-content-icon {
        font-size: 15px;
      }
    }
  }

  h1 {
    font-size: var(--text-h1-m);
  }  

  h2 {
    font-size: var(--text-h2-m);
  }

  h3 {
    font-size: var(--text-h3-m);
  }

  .App-side-menu {
    display: none;
    opacity: 100%;
  }

  .App-desktop-responsive-table {
    display: none;
  }

  .App-mobile-responsive-table-card {
    display: flex;
  }

  .App-filter-search-component {
    flex-direction: column;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
