.App {
  background-color: var(--main-page-background);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Inter;
  font-size: var(--text-size);
  color: #1F2937;
  overflow: auto;
}

.App-content {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: auto;
  justify-content: start;
  align-content: start;
}

.App-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-content: start;
  justify-content: space-between;
  height: fit-content;
  padding-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: var(--primary-background);
}

.App-side-menuOLD {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  background-color: var(--side-menu-background);
  opacity: var(--side-menu-transparency);
  color: var(--light-color-text);
  padding: 10px;
  height: auto;
  justify-content: start;
}

.App-side-menu {
  position: fixed; /* Fix the sidebar in place */
  top: 0;
  left: 0;
  width: 200px; /* Set a fixed width */
  height: 100vh; /* Full height of the viewport */
  background-color: var(--side-menu-background);
  opacity: var(--side-menu-transparency);
  color: var(--light-color-text);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto; /* Enable scrolling if content overflows */
  z-index: 1000; /* Ensure it's above other elements */
}

/* Add margin to main content so it's not hidden behind the sidebar */
.main-content {
  margin-left: 200px; /* Same width as the sidebar */
  padding: 20px;
}


.App-secondary-text {
  font-size: var(--secondary-text);
  color: var(--primary-text);
}

.App-light-text {
  color: var(--light-color-text);
}

.App-purple-text {
  color: var(--purple-color-text);
}

h1 {
  font-weight: 800;
  font-size: var(--text-h1);
  color: var(--h1);
}

h2 {
  font-weight: 600;
  font-size: var(--text-h2);
  color: var(--h2);
}

h3 {
  font-weight: bold;
  font-size: var(--text-h3);
  color: var(--h3);
}

.App-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--popup-background);
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .App-popup-content {
    display: flex;
    flex-direction: column;
    background-color: var(--hover-background);
    padding: 2rem;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
    gap: 20px;
    height: fit-content;
    justify-content: start;
  }

  .App-popup-prompt-content {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-background);
    padding: 2rem;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
    gap: 20px;
    height: fit-content;
    justify-content: start;
  }
}

.App-desktop-responsive-table {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.App-desktop-table-icon {
  color: var(--primary-background);
  width: fit-content;
  font-size: 30px;
  padding: 5px;
  background-color: white;
  border-bottom-color: var(--primary-background);
  border-bottom-width: 1px;
  border-bottom-style: outset;
  height: auto;
}

.App-table-icon:hover {
  cursor: pointer;
  background-color: var(--primary-background);
  color: var(--light-color-text);
}

.App-mobile-table-icon {
  background-color: none;
  width: fit-content;
  height: fit-content;
  font-size: 30px;
  padding: 5px;
  border-radius: 10px;
}

.App-link {
  color: #61dafb;
}

/* Set input text field css */
input[type=text]{
  background-color: white;
  border-width: 2px;
  border-color: var(--purple-color-text);
  border-radius: 8px;
}

select {
  background-color: white;
  height: 36.5px;
  border-width: 2px;
  border-color: var(--purple-color-text);
  border-radius: 8px;
}

option {
  color: var(--side-menu-background);
}

option:checked {
  background-color: var(--primary-background);
  color: var(--light-color-text);
}

/* Desktop (1024px+) */
@media only screen and (min-width: 1024px) {
  .App-mobile-responsive-table {
    display: none;
  }
}

/* Tablet (769px-1023px) */
@media only screen and (min-width: 769px) and (max-width: 1023px) {
  .App-desktop-responsive-table {
    display: none;
  }
}

/* Mobile (all screens below 768px) */
@media only screen and (max-width: 768px) {
  .App{
    font-size: var(--text-size-m);
  }

  .App-secondary-text {
    font-size: var(--secondary-text-m);
  }

  h1 {
    font-size: var(--text-h1-m);
  }  

  h2 {
    font-size: var(--text-h2-m);
  }

  h3 {
    font-size: var(--text-h3-m);
  }

  .App-side-menu {
    display: none;
  }

  .App-desktop-responsive-table {
    display: none;
  }
}
