.user-profile-data {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: start;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    width: 100%;

    .title, .edit-title {
        width: 100px;
        font-weight: bold;
    }

    .edit-title {
        padding-top: 5px;
    }

    input {
        height: 30px !important;
    }
}

.even-row {
    background-color: var(--hover-background);
    padding-top: 5px;
    padding-bottom: 5px;
}

.update-user-profile-button {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 5px;
}

.user-profile-nric-contain {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    min-width: 100% !important;
}

.hide-show-nric-icon {
    align-self: center;
    font-size: 20px;
}

.hide-show-nric-icon:hover {
    cursor: pointer;
    color: var(--error);
}

/* Mobile (all screens below 768px) */
@media only screen and (max-width: 768px) {
    .user-profile-data {
        flex-direction: column;
    }
}