.common-2,
.app-description-demo-background,
.app-description-demo-background-1 {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 0;
}

table{
  width: 100%;
}
.icons{
  height:50px;
  float:right;
  
  /* padding-left: 285px; */
}

.floatRight{
  float:right;
}
.common-1,
.app-description-demo-t-time-management-efficient-scheduling-efficiently-manage-employee-shifts-and-schedules-with-our-intuitive-platform-our-system-simplifies-the-process-ensuring-smooth-operations-and-effective-utilization-of-resources-communication-seamless-collaboration-facilitate-seamless-communication-among-team-members-with-employeeroster-our-application-fosters-collaboration-ensuring-everyone-is-informed-and-connected-productivity-boost-efficiency-maximize-productivity-within-your-business-by-utilizing-employeeroster-sfeatures-our-tools-are-designed-to-streamline-operations-reduce-errors-and-increase-overall-efficiency-demo-video,
.app-description-demo-demo-video {
  display: flex;
  justify-content: center;
}

.app-description-demo-app-description-demo {
  padding-left: 64px;
  padding-right: 64px;
  padding-top: 24px;
  display: flex;
  width: 100%;
  line-height: normal;
}

.app-description-demo-t-time-management-efficient-scheduling-efficiently-manage-employee-shifts-and-schedules-with-our-intuitive-platform-our-system-simplifies-the-process-ensuring-smooth-operations-and-effective-utilization-of-resources-communication-seamless-collaboration-facilitate-seamless-communication-among-team-members-with-employeeroster-our-application-fosters-collaboration-ensuring-everyone-is-informed-and-connected-productivity-boost-efficiency-maximize-productivity-within-your-business-by-utilizing-employeeroster-sfeatures-our-tools-are-designed-to-streamline-operations-reduce-errors-and-increase-overall-efficiency-demo-video {
  flex-wrap: wrap;
  align-items: flex-start;
  padding-right: 77px;
  flex-grow: 1;
  gap: 5px;
}

.app-description-demo-time-management-efficient-scheduling-efficiently-manage-employee-shifts-and-schedules-with-our-intuitive-platform-our-system-simplifies-the-process-ensuring-smooth-operations-and-effective-utilization-of-resources-communication-seamless-collaboration-facilitate-seamless-communication-among-team-members-with-employeeroster-our-application-fosters-collaboration-ensuring-everyone-is-informed-and-connected-productivity-boost-efficiency-maximize-productivity-within-your-business-by-utilizing-employeeroster-sfeatures-our-tools-are-designed-to-streamline-operations-reduce-errors-and-increase-overall-efficiency {
  width: 484px;
  height: 375px;
  font-family: Inter, ui-sans-serif, system-ui, sans-serif;
  font-size: 13px;
  line-height: 1;
}

.app-description-demo-spacer {
  height: 13px;
}

.app-description-demo-para-1 {
  font-weight: 700;
  text-decoration: underline;
}

.app-description-demo-spacer-1 {
  height: 13px;
}

.app-description-demo-spacer-2 {
  height: 13px;
}

.app-description-demo-spacer-3 {
  height: 13px;
}

.app-description-demo-spacer-4 {
  height: 13px;
}

.app-description-demo-para-4 {
  font-weight: 700;
  text-decoration: underline;
}

.app-description-demo-spacer-5 {
  height: 13px;
}

.app-description-demo-spacer-6 {
  height: 13px;
}

.app-description-demo-spacer-7 {
  height: 13px;
}

.app-description-demo-para-7 {
  font-weight: 700;
  text-decoration: underline;
}

.app-description-demo-spacer-8 {
  height: 13px;
}

.app-description-demo-demo-video {
  align-items: center;
  flex-direction: column;
  padding-bottom: 23px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 23px;
  position: relative;
}

.app-description-demo-background {
  background-image: rgba(227, 227, 227, 1);
}

.app-description-demo-background-1 {
  background-image: url(/assets/background-1.png);
  opacity: 0.2;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.app-description-demo-image {
  object-fit: cover;
  object-position: center;
  width: 550px;
  height: 296px;
  z-index: 1;
}
@media (min-width: 1270px) {
  .app-description-demo-t-time-management-efficient-scheduling-efficiently-manage-employee-shifts-and-schedules-with-our-intuitive-platform-our-system-simplifies-the-process-ensuring-smooth-operations-and-effective-utilization-of-resources-communication-seamless-collaboration-facilitate-seamless-communication-among-team-members-with-employeeroster-our-application-fosters-collaboration-ensuring-everyone-is-informed-and-connected-productivity-boost-efficiency-maximize-productivity-within-your-business-by-utilizing-employeeroster-sfeatures-our-tools-are-designed-to-streamline-operations-reduce-errors-and-increase-overall-efficiency-demo-video {
    flex-wrap: nowrap;
  }
}
