.create-n-edit-task-header {
    display: flex;
    flex-direction: row;
    justify-content: start !important;
    gap: 10px;
}

.create-n-edit-task-form-container {
    display: flex;
    flex-direction: row;
    gap: 15px;

    .create-n-edit-task-form-content,
    .task-assignation-detail-container {
        display: flex;
        flex-direction: column;
        gap: 13px;
        width: 50%;
        padding: 10px;
        padding-top: 0px;
    }
    .task-assignation-detail-container {
        border-left: 2px;
        border-left-style: outset;
        border-left-color: var(--primary-background);
    }
    .task-assignation-detail-content {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 13px;

        .btn-grp {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 10px;
            align-items: center;

            span {
                margin: 5px;
                color: var(--error);
                font-size: 15px;
            }
        }
    }
}

.create-n-edit-task-form-checkbox-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.create-task-button {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: end;
    width: auto;
}

.no-of-emp-input {
    max-width: 250px;
}

.show-timeline-for-create-task {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: start;
}

.timeline-creation-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.select-available-timeline-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.create-new-timeline-icon:hover {
    color: var(--side-menu-background);
    cursor: pointer;
}

