.table-cell {
    padding: 10px;
    border-bottom: 1px;
    border-bottom-style: outset;
    border-bottom-color: var(--primary-background);
    height: auto;
    width: 100%;
    background-color: white;
}

.table-cell-text {
    height: auto;
    width: auto;
}