.table-header {
    padding: 10px;
    border-bottom-style: outset;
    border-bottom-width: 3px;
    border-bottom-color: var(--popup-background);
    background-color: #2B0F57;
    height: auto;
    opacity: 30%;
}

.table-header-text {
    color: var(--light-color-text);
    font-weight: bold;
}