:root {
    /* Colors style */
    --primary-background: #2B0F57;
    --secondary-background: #D9D9D9;
    --popup-background: #2C2C2C;
    --hover-background: #F0E9FB;
    --main-page-background: #F3ECFE;
    --side-menu-background: #613A9F;
    --side-menu-transparency: 92%;

    /* Text colors style */
    --primary-text: #1F2937;
    --secondary-text:#374962;
    --light-color-text: #F0F0F5;
    --purple-color-text:#8852E0;

    /* Heading color style */
    --h1: var(--primary-background);
    --h2: #4A1A99;
    --h3: #6A25DA;

    /* Prompt color style */
    --success: #3D9575;
    --error: #EF4444;
    --warning: #F8BC54;

    /* Font size style */
    --text-size: 16px;
    --text-size-m: 14px;
    --secondary-text: var(--text-size-m);
    --secondary-text-m: 12px;
    --text-h1: 32px;
    --text-h1-m: 28px;
    --text-h2: var(--text-h1-m);
    --text-h2-m: 24px;
    --text-h3: var(--text-h2-m);
    --text-h3-m: 20px;
}