div{
    width: 100%;
    justify-content: space-between;
}

.navbar {
    display: flex;
    flex-direction: row;
    height: 65px;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
    align-items: center;
    padding: 10px;
    background-color: var(--primary-background);
    color: var(--light-color-text);
    max-height: fit-content;
  }
  
  .front {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 5px;
    max-width: fit-content;
  }

  .nav-link {
    width: 50px;
  }

  .btn-group {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 5px;
    justify-self: end;
  }

  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-button {
    padding: 5px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .nav-button:hover {
    background-color: var(--main-page-background);
    color: black;
  }

  .hamburger-menu-icon {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    margin-right: 5px;
  }
