.UserMgts {
    display: flex;
    flex-direction: row;
}

.user-list {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    justify-items: start;
    justify-content: start;
}

