
.main-container{
    margin-left: 200px; /* Offset the width of the sidebar + some extra spacing */

}

.logo{
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.createEmployeeTable
{
    td{
        padding-bottom: 20px;
        /* margin-bottom: 40px; */
        
    }
}

/* Mobile (all screens below 768px) */
@media only screen and (max-width: 768px) {

}