.company-name {
    width: 100%;
}

.icons {
    font-size: 30px;
    color: var(--side-menu-background);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-content: start;
    justify-content: start;
    height: fit-content;
}

.detail-content {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-between;

    .title {
        font-weight: bold;
    }
}

.uen {
    align-items: center;
}

.btns-grp {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: end;
}

.icons:hover {
    color: var(--error);
    cursor: pointer;
}

/* Mobile (all screens below 768px) */
@media only screen and (max-width: 768px) {
    .detail-content {
        flex-direction: column;
        gap: 15px;
    }

    .btns-grp {
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }
}