.RegisRequests {
    display: flex;
    flex-direction: row;

    .content {
        padding: 10px;
    }
}

.reg-filter-group {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
}

.filter-group-child {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.filter-title {
    color: var(--purple-color-text);
    font-weight: bold;
}

.registration-request-m {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: fit-content;
}

/* Tablet (769px-1023px) */
@media only screen and (min-width: 769px) and (max-width: 1023px) {
    .reg-filter-group {
        gap: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* Mobile (all screens below 768px) */
@media only screen and (max-width: 768px) {
    .reg-filter-group {
        flex-direction: column;
        gap: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
}